.wp-block-image-selector-example-image-selector {
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wp-block-image-selector-example-image {
  padding: 0;

  .components-spinner {
    margin: 0;
  }

  // Space consecutive buttons evenly.
  .components-button + .components-button {
    margin-top: 1em;
    margin-right: 8px;
  }
}
